*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Passion One', sans-serif;
}

body{
    /* background-color: rgb(36, 36, 36); */
    background-image: url(pubg.jpg);
    background-size: cover;
}

.navbar {
    width: 1336px;
    margin: 5px;
    padding: 0px;
    /* width: 1024px; */
    /* position: relative; */

    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.logo{
    display: inline;
    float: left;
    width: 100px;
    margin: 10px;
}

nav {
    display: inline;
    float: right;
    /* display: block; */
    /* background-color:rgba(0, 0, 0, 0.479); */
    /* text-align: center; */
    height: 50px;
    padding-top: 0px;
    /* width: 1024px; */


    display: flex;
    align-items: center;
    justify-content: center;
}


nav a {
    text-decoration: none;
    font-size: 30px;
    padding: 0px 15px;
    color: #fff;
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
}

col{
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register {
    display: flex;
    width: 500px;
}

.para {
 letter-spacing: 2px;
 font-weight: 100;
}

h2{
    font-size: 5rem;
    color: rgb(255, 255, 255);
}

.button {
    font-weight: 100;
    height: 60px;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    width: 220px;
    border-radius: 10px;
    padding-top: 12px;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(255, 8, 0);
    color: #fff;
    letter-spacing: 3px;
    cursor: pointer;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.button:hover{
    transition: all 0.2s ease-in-out;
    background-color: rgb(255, 200, 50);
    color: rgb(14, 14, 14);
}

.text {
    padding-top: 100px;
    padding-right: 200px;
    padding-left: 250px;
}

.img {
    padding-top: 100px;
    padding-left: 0px;
    
}